.box {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);

  transition: transform 2s, box-shadow 1s;
}

.box:hover {
  transform: scale(1.01);

  box-shadow: 0.2rem 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
}

.edit {
  color: white;
}

.edit:hover{
  cursor: pointer;
  color: blanchedalmond;
}

.editEye {
  color: black;
}

.editEye:hover {
  color: blue;
  cursor: pointer;
}

